* {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  body {
    background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
  }
  
  :root {
    --accent-color: #fff;
    --gradient-color: #fbfbfb;
  }

div.header {
    font-family: Raleway;
    margin: 0;
    padding: 1.5em 2em;
    text-align: right;
    /* background: #9e9e9e; */
    position: sticky;
    width: 100%;
    background-image: linear-gradient(to left, #dfc9ef, #cfdcf4);
    border-bottom: 2px solid #989cec;
  }
  
  div.header a {
    color: #7c25b6;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: 500;
  }
  
  /* Circle behind */
  div.circleBehind a:before,
  div.circleBehind a:after {
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #989cecc0;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
  }
  
  div.circleBehind a:after {
    border-width: 2px;
    transition: all 0.4s;
  }
  
  div.circleBehind a:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  
  div.circleBehind a:hover:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
  }

section{
    padding : 30px 3%;
    background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
    display: flex;
    width: 70%;
    height: 60%;
    justify-content: space-evenly;
}
.left-side{
    width: 75%;
   margin-left: 10px;
}
.post{
    background-color:#dfcdff;
    border: 4px solid #989cec;
    border-radius: 10px;
    /* border-bottom: 5px solid rgba(219, 219, 219, 1); */
    margin: auto;
    margin-bottom: 10px;
}
.post .post-title{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 16px;


}

.post .post-title .details .name{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    font-weight: bold;
}
.post .post-title .image img{
border-radius: 50%;
object-fit: contain;
margin-right: 15px;
}
.post  .post-contain img{
    width: 100%;
    height: 100%;
    border-top: 4px solid #989cec;
    border-bottom: 4px solid #989cec;
}
.post .post-footer {
    display: flex;
    justify-content: end;
    padding :12px 0;
    align-items: center;
    cursor: default;
}

.like {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; 
    

}
.like .post-rating-button{
    cursor: pointer;
    color: #7c25b6;

}
.like-selected > .post-rating-button,
.like-selected > .post-rating-count{
    color: #009578;
}
.like:not(.like-selected) > .post-rating-button:hover{
    color: #7c25b6;
}
.right-side{
    width:22%;
    margin-left: 60px;
    position: fixed;
    right: 10px;
    background-color:#dfcdff;
    border: 4px solid #989cec;
    border-radius: 10px;
}
.right-side .profile-title{
    display: flex;
    align-items: center;
}
.right-side .profile-title .profile-left{
    display:flex;
    align-items: center;
    margin-right: 40px
}
.right-side .details img{
    border-radius: 50%;
    margin: 10px;
}
.right-side .details{
    display: inline-block;
    vertical-align: middle;
}
.leaderboard{
    margin-left: 20px;
}

/* Basic styling for the leaderboard */
body {
    font-family: Arial, sans-serif;
    color: #7c25b6;
}
table {
    width: 100%;
    border-collapse: collapse;
    padding: 50px;
}
th, td {
    padding: 10px;
    text-align: left;
}
/* .right-side .image .h1{

} */


/* FOOTER */
footer {
    margin-top: 0; 
    /* width: 1000%; */
    padding: 0;
    border: 0; outline: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: #dfcdff;
    color: #7c25b6;
    border-top: 2px solid #989cec;
  }
  :root{
    --theme-col: #ffffff;
  }
  .space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  }
  .f-item-con{
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
  }
  footer .app-name{
    border-left: 4px solid var(--theme-col);
    padding-left: 0.3rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
  .app-name .app-initial{
    color: var(--theme-col);
  }
  footer .app-info p{
    padding-left: 1.65rem;
    overflow-y: hidden;
  }
  
  footer .app-info img{
    border-radius: 55%;
    height: 170px;
    margin-left: 94px;
  }
  
  footer .footer-title{ 
    font-size: 1.75rem;
    line-height: 1.75rem;
    border-left: 4px solid var(--theme-col);
    padding-left: 0.5rem;
    height: fit-content;
    overflow-y: hidden;
  }
  footer ul{ 
    padding-left: 1.75rem;
    font-size: 1.1rem/* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
  }
  footer ul li{ 
    margin: .25rem 0;
    padding-top: 3%;
    cursor: pointer;
    width: fit-content;
    overflow-y: hidden;
  }
  footer ul li:hover{
    color: #ffffff;
  }
  footer .help-sec{
    grid-column-start: 2;
  }
  footer .cr-con{
    background-color: #dfcdff;
    color: #7c25b6;
    /* padding: 1rem 4rem; */
    padding-bottom: 1rem;
    text-align: center;
  }
  .g-i-t{
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .g-i-t form{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    --tw-space-y-reverse: 0;
    /* margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse))); */
    /* margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));  */
  }
  form .g-inp{
    padding: .25rem .5rem;
    font-size: 1.1rem;
  }
  .g-inp textarea{
    height: 150px;
  }
  .f-btn{
    padding: .25rem 1rem;
    background-color: var(--theme-col);
    border-radius: .25rem;
    font-size: 16px;
    color: #7c25b6;
    font-weight: 500;
  }
  .team-name{
    position: relative;
    margin-top: 2px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  p{
    font-size: 0.9rem;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #7c25b6;
    transition: all 0.5s ease;
    margin-left: 30px;
    margin-top: 20px;
  }
  .social-links a:hover{
    color: #ffffff;
    background-color: #7c25b6;
  }  
